#buttonright{
	-fx-background-color: #4591c6;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}
#buttonleft{
	-fx-background-color: #cad50c;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}
.sidebar{
	-fx-background-color: #e2f1df;
}
.navbar{
	-fx-background-color: #9ba5d3;
}
.klantgegevens{
	-fx-border-color: #000000;
	-fx-padding:5px;
}
#title{
	-fx-font-weight:bold;
}